.form-row {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem auto;
}

.form-row label {
  width: 30%;
  text-align: left;
}

.form-row input {
  width: 70%;
  background-color: black;
  color: white;
  border-style: inset;
  padding: 0.25rem;
}
