:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 1rem auto;
  width: 400px;
  text-align: center;
}

.navbar {
  padding: 1rem;
}

.navbar a {
  text-decoration: none;
}

a {
  color: white;
}

button {
  background-color: #121212;
  color: white;
  border-style: outset;
  font-weight: bold;
}

button:hover {
  background-color: #222222;
}

button:active {
  background-color: #303030;
  border-style: inset;
}

ul {
  list-style: none;
  padding-left: 0; /* Removes the empty space from the list marker */
}
